<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>

<title>L'COLOC</title>

<body>
    <div class="col-md-8 padding-0 ">
        <div class="card clr">
            <div class="card-body ">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Votre Profil</h4>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <form>
                            <div class="form-group row">
                                <label for="username" class="col-4 col-form-label">Nom d'utilisateur :</label> 
                                <div class="col-8">
                                <input id="username" name="username" value="" readonly class="form-control-plaintext" required="required" type="text">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="name" class="col-4 col-form-label">Prenom :</label> 
                                <div class="col-8">
                                <input id="name" name="name" value="" readonly class="form-control-plaintext" type="text">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="lastname" class="col-4 col-form-label">Nom :</label> 
                                <div class="col-8">
                                <input id="lastname" name="lastname" value="" readonly class="form-control-plaintext" type="text">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="email" class="col-4 col-form-label">Email :</label> 
                                <div class="col-8">
                                <input id="email" name="email" value="" readonly class="form-control-plaintext" required="required" type="text">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="datenaissance" class="col-4 col-form-label">Date de naissance :</label> 
                                <div class="col-8">
                                <input id="datenaissance" name="datenaissance" value="" readonly class="form-control-plaintext" type="text">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="telnum" class="col-4 col-form-label">Numero de telephone :</label> 
                                <div class="col-8">
                                    <input id="telnum" name="telnum" value="" readonly class="form-control-plaintext" type="text">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-4 ">
                                <button name="submit" type="submit" class="btn btn-light buttn">Mettre à jour Mon Profil</button>
                                </div>
                            </div>
                            </form>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</body>