<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.6.0/spacelab/bootstrap.min.css" integrity="sha512-1gJsJyef+f5RKK96Vq34R3Lc9KJr21Ss2PcXosqp+1Z1yWpCKXL35p3E5nYxj4PPSfjFUc6elocMw9AiXrGXAQ==" crossorigin="anonymous" />
    
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
    
    <title>Register</title>
</head>
<body>
    <script src="https://kit.fontawesome.com/92861fb5ae.js" crossorigin="anonymous"></script>
    <div class="row mt-5" style="color: black;">
        <div class="col-md-6 m-auto">
          <div class="card card-body">
            
            <%- include('./partials/messages.ejs'); %>
            <h1 class="text-center mb-3" style="font-family: 'Poppins', sans-serif;">
              <i class="fas fa-user-plus"></i> CHANGER MOT DE PASSE
            </h1>
            <form action="/users/edit_pwd/<%= user.id %>?_method=POST" method="POST"  >
                <label for="newpwd">Entrer votre nouveau mot de passe</label>
                <input type="password" id="newpwd" name="newpwd" placeholder="nouveau mot de passe">
                <hr>
                <label for="newpwd2">confirmer votre nouveau mot de passe</label>
                <input type="password" id="newpwd2" name="newpwd2" placeholder="">
                <button type="submit"> okay</button>
            </form>
        </div>
        </div>
</body>