#nav-bar
{
	position: sticky;
	top: 0;
	z-index: 10;
}
.navbar-brand img
{
	height: 50px;
	padding-left: 30px;
}
.navbar-nav li
{
	padding: 0 10px;
}
.navbar-nav li a
{
	float: right;
	text-align: left;
}
#nav-bar ul li a:hover
{
	color: #cc99ff!important;
}
.navbar
{
	background: #fff;
}
.navbar-toggler
{
	border: none!important;
}
.nav-link
{
	color: #555!important;
	font-weight: 600;
	font-size: 16px;
}

.imag{
  border-radius: 50%;
  width:100px;
  height:100px;

}
.padding-0{
  padding-left:0;
  margin:0;
}
.container {
  /*background: linear-gradient(180deg, #4d1919, black );*/
  
  padding-left: 0;
  padding-right: 0;
  padding:0;
}
.heigh {
  height:100%;
}
.heigh2{
  margin:0;
  width:276px;
}

.centered {
position: absolute;
top: 20%;
left: 50%;
transform: translate(-50%, -50%);
color:white;
font-family:'Great Wishes';
font-size: 100px;

}
.top-left {
position: absolute;
top: 8px;
left: 16px;
}
.match {
  width:100%;

}
.clr{
  /*background-color: rgba(155, 82, 82, 0.1);*/
  margin: 0;
  width:863px;
  height:500px;
}
.imgctl {
  height:300;
  width:100%;
  object-fit: cover;
  opacity:0.9;
  
}
.imag{
  text-align:center;
  margin:auto;
  display:flex;

}
.buttn{
  border: 2px solid black;
  border-radius:50px ;
  
  /*background:transparent;
  padding:10px;*/
}

.right ul li a{
  display: flex;
  align-items: center;
  height: 40px;
}

.right img{
  margin: 0 10px;
}
.right a{
  text-align: right;
  text-decoration: none;
}


.right ul li{
  position: relative;
}
